<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/rabbit
           http://www.springframework.org/schema/rabbit/spring-rabbit.xsd
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">
           
     <context:annotation-config/>
    <context:component-scan base-package="com.hp"/>
           
    <rabbit:connection-factory id="connectionFactory" host="192.168.100.2" port="5672" username="scgj" password="scgj2014"/>
                               
    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory"/>
    <rabbit:admin id="rabbitAdmin" connection-factory="connectionFactory"/>

    <rabbit:queue id="queueOne" name="sms_queue1"/>
    <rabbit:queue id="queueTwo" name="sms_queue2"/>

    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener id="typeOneListener" ref="typeOneListener" method="handleMessage" queues="queueOne"/>
        <rabbit:listener id="typeTwoListener" ref="typeTwoListener" method="handleMessage" queues="queueTwo"/>
    </rabbit:listener-container>


    <rabbit:topic-exchange id="sms_topic" name="sms_topic">
                <rabbit:bindings>
                    <rabbit:binding pattern="sms_queue1" queue="queueOne"/>
                    <rabbit:binding pattern="sms_queue2" queue="queueTwo"/>
                </rabbit:bindings>
    </rabbit:topic-exchange>

	
</beans>